<div class="main">
  <div class="profile">
    <h2> <%= @single_server.server_name %> </h2>
    <div class="list">
      <p> Server ID: <%= @single_server.server_id %> </p>
      <p> Processor: <%= @single_server.processor %> </p>
      <p> Memory: <%= @single_server.memory %> </p>
      <p> Notes: <%= @single_server.notes %> </p>
      <p> Number of Processors: <%= @single_server.number_processors %> </p>
      <p> Disks: <%= @single_server.disks %> </p>
    </div>
  </div>
</div>
