<div class="main">
  <div class="profile">
    <h1> <%= @single_server.server_name %> </h1>
    <div class="list">
      <p> * <%= @single_server.server_id %> </p>
      <p> * <%= @single_server.processor %> </p>
      <p> * <%= @single_server.memory %> </p>
      <p> * <%= @single_server.notes %> </p>
      <p> * <%= @single_server.number_processors %> </p>
      <p> * <%= @single_server.disks %> </p>
    </div>
  </div>
</div>
