<!DOCTYPE html>
<html>
<head>
  <title>MyServerInfo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="wrapper">
    <div id="header-wrapper">
      <div id="header" class="container">
        <h1> My Server System </h1>
      </div>
      <div id="menu" class="container">
        <ul>
          <li> <%= link_to "Home", welcome_path %> </li>
          <li> <%= link_to "Servers", server_path %> </li>
          <li> <%= link_to "Admins", sys_admin_path %> </li>
        </ul>
        <%#= form_tag(server_path, :method => "get", server_id: "search-form") do %>
          <%#= text_field_tag :search, params[:search], placeholder: "Search Servers" %>
          <%#= submit_tag "Search" %>
        <%# end %>
      </div>
    </div>
    <div id="page" class="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>   
    
</body>
</html>
